.checklist{
    padding: 0;
}

.checklist li{
    padding-left: 1.5em;
    font-size: 20px;
    background-repeat: no-repeat;
    background-position: left center;
}
.checklist li.checked{
    background-image: url("");
}

.checklist li:not(.checked){
    background-image: url("");
    background-repeat: no-repeat;
}