main{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 20px;
}

main .block{
    color: white;
    font-weight:bold;
    font-size: 4em;
    text-align:center;
}

.block.block1 {
    background-color: #b5366a;
    grid-area: 1/1/1/4;
}

.block.block2{
    background-color: #716da5;
    grid-area: 2/1/3/4;
}

.block.block3{
    background-color: #7c8cc1;
}

.block.block4{
    background-color: #a0d1d9;
    grid-area: 3/2/3/4;
}

@media screen and (max-width: 992px){
    main {
        grid-template-columns: 1fr ;
        grid-template-rows: 1fr ;
    }
    .block.block1,
    .block.block2,
    .block.block3,
    .block.block4 {
        grid-column: auto;
        grid-row: auto;
    }
}

@media screen and (max-width: 772px){
    main {
        grid-template-columns: 1fr ;
        grid-template-rows: 1fr ;
    }
    .block.block1 {
        grid-area: 2/1/2/2;
    }

}
