main>div{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(5, 1fr);
}

.caption {
    font-family: helvetica;
    font-size: 16px;
    margin-top: 12px;
}

.gridHeader {
    background-color: #dcd6fe;
    grid-area: 1/2 ;

}

.gridNav {
    background-color: #c6c0ff;

}

.gridMain {
    background-color: #f9f6d2;

}

.gridAside {
    background-color: #d4ffd1;

}

.gridFooter {
    background-color: #ffd1d1;

}

